<%- include ("partials/header.ejs") %>
<script>document.title = "Information"</script>
<div>
</div>
<div class="box">
    <h3 class="text-color">All Documents</h3>
    <hr style="width:100%">
    <div class="recent-box">
        <% for (let i=lesionList.length-1; i>= 0; i--) { %>
            <a class="card" href="<%= "/info/" + lesionList[i].name.toLowerCase().split(" ").join("_") %>">
                    <img src="<%= lesionList[i].image %>"
                        style="width:100%; height: 60%; border-radius: 30px;" alt="Image of <%= lesionList[i].name %>">
                    <h3 class="bold" style="text-align: center;">
                        <%= lesionList[i].name %>
                    </h3>
                    <p class="lesionDescription">
                        <%= lesionList[i].description %>
                    </p>
            </a>
        <% } %>
    </div>
</div>
<div class="hero-cta">
    <a onclick="topFunction()" class="primary-button" style="color: var(--bg);">Scroll to Top</a>
</div>
<footer class="text-color">
    <div class="info">
        <div class="logoContainer">
            <img id="logo" src="/images/logo.png">
            <a href="/">
                <h2>Skin Uni</h2>
            </a>
        </div>
        <div class="horizontal-menu">
            <p class="menu-header sub">EXPLORE</p>
            <a href="/info" class="menu-item">
                Information
            </a>
            <a href="#" class="menu-item">
                Analysis
            </a>
            <a href="#" class="menu-item">
                About
            </a>
        </div>
        <div class="horizontal-menu">
            <p class="menu-header sub">CONNECT</p>
            <a href="https://github.com/Antonton154" class="menu-item">
                Github
            </a>
        </div>
    </div>
    <hr>
    <div>
        <p class="sub">Feedback? Suggestions? <a href="mailto:nnat150406@gmail.com" target="_blank"
                class="link reversed">Contact me!</a></p>
        <p class="sub">Made with by Nguyen Ngo Anh Tuan</p>
        <p class="sub">Copyright © 2023 All Rights Reserved</p>
    </div>
</footer>
</body>
<script>
function topFunction() {
  document.body.scrollTop = 0; 
  document.documentElement.scrollTop = 0;
}
</script>
</html>